@import "./components/Thumbs/Thumbs.scss";
@import "./components/Header/Header.scss";
@import "./components/Banner/Banner.scss";
@import "./components/footer/Footer.scss";
@import "./components/carrousel/Carrousel.scss";
@import "./components/Dropdown/Dropdown.scss";
@import "./components/tag/Tag.scss";
@import "./pages/Logement.scss";
@import "./pages/About.scss";
@import "./pages/NotFound.scss";
@import "./abstracts/mixins.scss";

* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  padding: 8vh 12vh 0vh 12vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
  @include mobile {
    padding: 0;
    margin: 1rem;
  }
}

header {
  margin-bottom: 4rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  max-width: 1200px;
  // min-width: 800px;
  margin: 0 auto;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.grey {
  color: #e3e3e3;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
