@import "../../abstracts/mixins.scss";

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 190px;
  border-radius: 25px;
  margin-bottom: 20px;
  mix-blend-mode: darken;
  @include mobile {
    height: auto;
    border-radius: 10px;
  }
  &__content {
    width: 100%;
    position: relative;
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      margin: 0;
      width: 75%;
      text-align: center;
      & > br {
        display: none;
        @include mobile {
          display: block;
        }
      }
      @include mobile {
        text-align: left;
        font-size: 2rem;
        width: 90%;
        font-weight: 400;
      }
    }
    &__img {
      flex-shrink: 0;
      width: 100%;
      min-height: 100%;
      filter: brightness(72%);
      object-fit: cover;
      @include mobile {
        height: 130px;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}
